<!-- Login  Professor -->
<div class="form-box">

    <!-- <h1>Login</h1> -->
        <form action="" class="frm-login" (ngSubmit)="recebeDados()" >
            <label for="nome">Nome de Usuário</label>
            <input class="input-field" type="text" id="nome" placeholder="Login ou Email" required [(ngModel)]="userModel.nome" name="nome">
            
            <label for="senha">Senha</label>
            <input class="input-field" type="password" id="senha" placeholder="****" required [(ngModel)]="userModel.senha" name="senha">
    
            <!-- <input class="input-field" type="text" id="cpf" placeholder="Seu cpf" required autocomplete="none"> -->
    
            <div class="linha">
                <button class="btn-form" id="sign-in">Sign in</button>
                <button class="btn-form" type="button">Sign out</button>
            </div>
    
        </form>
    </div>
    
